:root {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{ 
    display:flex; 
    flex-direction:column; 
    height: 100vh;
  }

.card {
    background-color: lightpink;
    border: 2px solid black;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    gap: 15px;
    margin-top: auto;
    padding: 10px
}

.fa-github {
    color: black;
    font-size: 24px;
}
